#userpage {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 10px;
  }

  .highlight {
    color: #2157a8;
    font-weight: bold;
  }

  input {
    border: none;
    text-align: center;
  }
}
