#loginform {
  * {
    margin: 10px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      border: none;
      border-bottom: 1px solid black;
      margin: 10px;
      text-align: center;
      padding: 10px;
      width: 50vw;

      &::placeholder {
        color: #666;
        text-transform: uppercase;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
